<div class="container">
  <%= form_with url: api_news_index_path, method: :get, class: 'form' do |form| %>
    <div class="mb-3">
      <%= form.label :category, class: 'form-label' %>
      <%= form.select :category, @categories, selected: params[:category], class: 'form-control' %>
    </div>
    <%= form.submit 'Search', class: 'btn btn-sm btn-primary' %>
  <% end %>
</div>



<div class="table-container">
  <table class="table table-bordered ">
    <thead>
    <tr>
      <td>AUTHOR</td>
      <td>SOURCE</td>
      <td>URL</td>
      <td>TITLE</td>
      <td>CONTENT</td>
      <td>IMAGE</td>
      <td>PUBLISHED AT</td>
    </tr>
    </thead>
    <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article['author'] %></td>
        <td><%= article['source']['name'] %></td>
        <td><%= article['url'] %></td>
        <td><%= article['title'] %></td>
        <td><%= article['content'] %></td>
        <td><%= image_tag article['urlToImage'] if article['urlToImage'].present? %></td>
        <td><%= article['publishedAt'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>