<div class="container">
  <% if @feedback.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <ul>
        <% @feedback.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="container">
  <%= form_with model: @feedback, url: url, method: method, data: { turbo: false } do |form| %>
    <div class="mb-3">
      <%= form.label :first_name, class: 'form-label' %>
      <%= form.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :last_name, class: 'form-label' %>
      <%= form.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :message, class: 'form-label' %>
      <%= form.text_area :message, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :remark %>
      <%= form.select :remark, Feedback.remarks.keys %>
    </div>


    <div class="field">
      <strong>Remark:</strong>
      <% Feedback.remarks.keys.each do |remark| %>
        <%= form.radio_button :remark, remark %> <%= remark.humanize %>
      <% end %>
    </div>

    <%= form.submit class: 'btn btn-primary' %>
  <% end %>
</div>