<div class="">
  <h3>Feedbacks</h3>

  <table>
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Country</th>
      <th>Message</th>
    </tr>
    </thead>
    <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.first_name %></td>
        <td><%= feedback.last_name %></td>
        <td><%= feedback.country %></td>
        <td><%= feedback.message %></td>
        <td>
          <%= link_to 'Show', feedback_path(feedback), class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_feedback_path(feedback.id), class: 'btn btn-warning' %>
          <%= button_to 'Delete', feedback_path(feedback.id), method: :delete, class: 'btn btn-danger' %>
        </td>
      </tr>

    <% end %>
    </tbody>
  </table>


</div>
