<h1>Show ID: <%= @feedback.id %></h1>


<ul>
  <li><%= @feedback.name %></li>
  <li><%= @feedback.email %></li>
  <li><%= @feedback.message %></li>
  <li><%= @feedback.created_at %></li>
  <li><%= @feedback.updated_at %></li>
</ul>