<div class="d-flex justify-content-end">
  <div>
    <h1>Post List</h1>
  </div>

</div>

<div class="container">
  <%= form_with url: posts_path, method: :get do |form| %>
    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, value: params[:title], class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :start_date, class: 'form-label' %>
      <%= form.date_field :start_date, value: params[:start_date], class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :end_date, class: 'form-label' %>
      <%= form.date_field :end_date, value: params[:end_date], class: 'form-control' %>
    </div>
    <%= form.submit 'Search', class: 'btn btn-sm btn-primary' %>
  <% end %>
</div>

<div>
  <%= link_to 'Add new Post', new_post_path, class: 'btn btn-success button-left' %>

</div>



<table>
  <thead>
  <tr>
    <td>TITLE</td>
    <td>CONTENT</td>
    <td>CREATED AT</td>
    <td>UPDATED AT</td>
    <td>CATEGORY</td>
    <td>PUBLISHED</td>
    <td>ACTIONS</td>

  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.created_at %></td>
      <td><%= post.updated_at %></td>
      <td><%= post.categories.pluck(:name).join(',')%></td>
      <td><%= post.published %></td>

      <td>
        <%= link_to 'Show', post_path(post), class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_post_path(post.id), class: 'btn btn-warning' %>
        <%= button_to 'Delete', post_path(post.id), method: :delete, class: 'btn btn-danger' %>
        <%= link_to 'Comments', post_comments_path(post), class: 'btn btn-warning' %>
        <%= link_to 'New Comment', new_post_comment_path(post), class: 'btn btn-warning' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

