<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <title>Your Application Name</title>
  <body>
  <nav>
    <ul class="topnav">
      <li><span class="logo-text">૮₍ ˶ᵔ ᵕ ᵔ˶ ₎ა</span></li>
      <li><%=link_to 'Home', root_path, class: "nav-link #{'active' if controller_name == 'welcome' && action_name == 'index' }", 'aria-current': 'page'%></li>
      <li><%=link_to 'Contact', contact_path, class: "nav-link #{'active' if controller_name == 'welcome' && action_name == 'contact' }", 'aria-current': 'page'%></li>
      <li><%=link_to 'About', about_path, class: "nav-link #{'active' if controller_name == 'welcome' && action_name == 'about' }", 'aria-current': 'page'%></li>
      <li><%=link_to 'Post', posts_path, class: "nav-link #{'active' if controller_name == 'posts' && action_name == 'index' }", 'aria-current': 'page'%></li>
    </ul>
  </nav>

    <%= yield %>

  </body>
</html>
